doctype html
html
  head
    title ChatBot
    link(rel='stylesheet', type='text/css', href='/client/assets/css/chatbox.css')
  body
    p Your webpage content goes here...
    |   
    script(src='/client/assets/js/chatbox.js')