include ./common/layout
section.header
  include ./common/header
section.main
  include ./common/nav-bar
  .main--container
    .table
      .section--title
        div
      table
        thead
          tr
            th S.No
            th Language Code
            th Language Name
            th Status
        each data, index in resData.language
          tr
            td= index + 1
            td= data.language
            td= data.language_name
            td= data.status
script(src='cms/main.js')

