doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono' rel='stylesheet')
  title SLIC CHAT CMS
  include ./common/login-css
  body.body
    #wrapper
      .main-content
        .header
          img(src='/cms/image/logo.svg')
        .l-part
          input#email.input-1(type='email' placeholder='E MAIL')
          input#password.input-2(type='password' placeholder='Password')
          input#login.btn(type='button' value='Log in')
script(src='/cms/login.js')