doctype html
html
  head
    title ChatBot
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    link(rel='stylesheet', type='text/css', href='/client/assets/css/chatbox.css')
  body
    p#content Your webpage content goes here...
    |   
    script(src='/client/assets/js/websocket.js')