.sidebar
  ul.sidebar--items
    li
      a(href='/dashboard')
        span.icon
          i.ri-bar-chart-line
        .sidebar--item Home
    li
      a(href='/organization')
        span.icon
          i.ri-community-line
        .sidebar--item Organization
    li
      a(href='/products')
        span.icon
          i.ri-handbag-line
        .sidebar--item Products
    li
      a(href='/questions')
        span.icon
          i.ri-question-line
        .sidebar--item Questions
    li
      a(href='/questions/mapping')
        span.icon
          i.ri-question-line
        .sidebar--item Questions Mapping
    li
      a(href='/language')
        span.icon
          i.ri-taobao-line
        .sidebar--item Languages
    li
      a(href='/submission')
        span.icon
          i.ri-taobao-line
        .sidebar--item Submission
    li
      a(href='/settings')
        span.icon
          i.ri-settings-3-line
        .sidebar--item Settings
  ul.sidebar--bottom--items
    li
      a(href='#')
        span.icon
          i.ri-question-line
        .sidebar--item Help
    li
      a(href='/logout')
        span.icon
          i.ri-logout-box-r-line
        .sidebar--item Logout
